$width-set: 300px;
$height-set: 450px;

@media (max-width: 450px) {
  div[vw] {
    canvas {
      min-height: unset !important;
      min-width: unset !important;
      -webkit-filter: blur(0px);
      -moz-filter: blur(0px);
      -ms-filter: blur(0px);
      -o-filter: blur(0px);
      filter: blur(0px);
      min-height: calc(0.35 * 680px) !important;
      min-width: calc(0.35 * 420px) !important;
    }

    [vw-plugin-wrapper].active {
      height: 358px !important;
      width: 210px !important;
    }
  }

  #gameContainer {
    display: flex !important;
    justify-content: center !important;
    top: -75px !important;
    left: -90px !important;
    width: 100% !important;
    height: 70% !important;
  }

  [vp] {
    [vp-controls] {
      left: 35% !important;
      bottom: 20% !important;
      background: white;
      width: 210px;
      gap: 0;
      padding: 0 10px;
    }

    .vpw-controls-slider {
      width: 40% !important;
    }

    .vpw-settings-btn .vpw-settings-btn-close,
    .vpw-btn-close .vpw-img {
      right: 100px;
    }

    [vp-rate-box].vp-enabled .vp-container {
      margin-right: 70px;
      margin-bottom: 80px;
    }

    [vp-rate-button] .vp-button {
      margin-right: 110px;
      margin-bottom: 130px;
    }

    [vp-rate-button] .vp-button img {
      width: 32px;
      margin-bottom: -37px;
      margin-right: -14px;
    }

    .vpw-message-box {
      font-size: 0.7em;

      .vpw-message {
        margin-left: 10px;
        margin-right: 93px;
        margin-bottom: 3px;
      }
    }

    .vpw-settings .vpw-content .vpw-vlibras-logo {
      left: 39%;
      bottom: 125px;
    }

    .vpw-settings .vpw-content>ul {
      margin-left: -20px;
    }

    .vpw-settings .vpw-content>ul li .vpw-name {
      font-size: 12px;
    }

    .vpw-settings .vpw-content>ul .vpw-localism .vpw-flag {
      right: 88px;
      height: 24px;
    }

    .vpw-switch {
      width: 48px;
      height: 15px;
      margin-top: -10px;
      right: 64px;
    }

    .vpw-slider-check.vpw-round:before {
      top: -3px;
    }

    .vpw-slider-check:before {
      height: 21px;
      width: 20px;
      left: -20;
      bottom: 4px;
    }

    .vpw-settings .vpw-content .vpw-vlibras-logo .vpw-logo {
      width: 51%;
      margin-left: 32px;
    }

    .vpw-settings .vpw-content .vpw-vlibras-logo .vpw-vlibras-span {
      left: 44%;
      bottom: 5%;
    }

    .vpw-settings .vpw-content .vpw-vlibras-logo {
      left: 39%;
      transform: translateX(-50%);
      bottom: 125px;
    }

    .vpw-settings .vpw-content>ul .vpw-localism .vpw-abbrev {
      right: 65px;
    }

    .vpw-controls-dictionary:not(.vpw-loading-dictionary):before {
      font-size: 12px;
    }

    .vpw-settings .vpw-content .vpw-flag {
      height: 18px;
    }

    .vpw-settings .vpw-content>.vpw-localism .vpw-regions>.vpw-container-regions {
      margin-top: -1%;
      margin-bottom: -2px;
    }

    .vpw-settings .vpw-content>.vpw-localism {
      width: 71%;
    }

    .vpw-settings .vpw-content>.vpw-localism .vpw-regions {
      left: -3px !important;
    }

    .vpw-settings .vpw-content>ul .vpw-opacity {
      margin-right: 56px;
    }

    .vpw-dictionary .vpw-dict-container {
      width: 64%;
      height: 44%;
      left: 44%;
    }

    .vpw-bar .vpw-title {
      margin-right: 40px;
    }

    .vpw-dictionary .vpw-panel .vpw-search input {
      width: 73%;
      left: 39%;
    }

    .vpw-dictionary .vpw-panel .vpw-search .vpw-icon img {
      right: 70px;
    }

    [vp-dictionary] {
      right: 18px !important;
    }

    .vpw-dictionary .vpw-dict-container ul li:not(.margin) {
      padding: 5px;
    }

    [vp-suggestion-button].vp-enabled {
      right: 40px;
      bottom: 150px !important;
    }

    [vp-suggestion-screen] {
      width: 72%;
      height: 318px;
      top: 41px;

      .vp-text {
        margin: 10px 0 0 0;
      }
    }
  }
}

div[vw] {
  position: fixed;
  max-width: 95vw;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99999999;
  display: none;
  font-family: Arial;
  color: #000;
  line-height: 1.3;
  font-size: 16px;
  margin: 10px !important;

  &.enabled {
    display: block;
  }

  &.active {
    margin-top: -285px;
  }

  &.maximize {
    top: 6vh;
    left: 6vh;
    right: 6vh;
    bottom: 6vh;
    max-width: initial;
    margin-top: 0;
  }

  &.left {
    left: 0;
    right: initial;
  }

  #gameContainer {
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto !important;
    min-height: calc(0.7 * #{$height-set});
    min-width: calc(0.9 * #{$width-set});
    width: 100%;
    height: calc(100% - 80px);
    overflow: hidden;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 0px;
    background: none !important;

    canvas {
      min-height: calc(0.7 * #{$height-set});
      min-width: calc(0.9 * #{$width-set});
      height: 100%;
      width: 100%;
      -webkit-filter: blur(0px);
      -moz-filter: blur(0px);
      -ms-filter: blur(0px);
      -o-filter: blur(0px);
      filter: blur(0px);
    }
  }

  [vp] {
    position: relative;
    height: 100%;
    width: 100%;
    min-width: 300px;
    min-height: 450px;
    z-index: 1;
    overflow: hidden;

    [vp-message-box] {
      position: absolute;
      z-index: 5;
    }


    [vp-controls] {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0%;
      max-width: 900px;
      z-index: 2;
    }

    [vp-settings] {}

    [vp-settings-btn] {
      z-index: 2;
    }

    [vp-dictionary] {
      z-index: 8;
    }

    [vp-rate-box] {
      bottom: 58px;
    }

    [vp-suggestion-button].vp-enabled,
    [vp-suggestion-button] {
      bottom: 58px;
    }

    [vp-suggestion-screen] {
      top: 41px;
    }
  }
}

.vw-text:hover {
  background-color: rgba(0, 63, 134, 0.2);
  color: #000;
  cursor: pointer;
}

.vw-text-active {
  background-color: rgba(30, 63, 134, 0.2);
  color: #000;
}
