@import "tailwindcss";
@plugin "daisyui";

:host {
	--background: oklch(1 0 0);
	--foreground: oklch(25% 0 0);
	--primary: oklch(0.4602 0.169 260.07);
	--primary-foreground: oklch(1 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--secondary: oklch(0.3315 0.1141 259.88);
	--secondary-foreground: oklch(0.8471 0.0543 259.88);
	--muted: oklch(0.95 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.85 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.637 0.237 25.331);
	--destructive-foreground: oklch(0.985 0 0);
	--border: oklch(0.910 0 0);
	--input: oklch(0.910 0 0);
	--ring: oklch(0.708 0 0);
	--radius: 10px;
	--spacing: 4px;

	--font-sans: "VLibrasWidget_Font", sans-serif;
	--font-size: 16px;
}

:host(.dark) {
	--background: lch(3.64% 0 296.81);
	--foreground: oklch(0.985 0 0);
	/* --primary: oklch(56.99% 0.1959 259.98);
	--primary-foreground: oklch(1 0 0); */
	--popover: oklch(0.2 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.3315 0.1141 259.88);
	--secondary-foreground: oklch(0.8471 0.0543 259.88);
	--muted: oklch(0.2 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.637 0.237 25.331);
	--destructive-foreground: oklch(0.985 0 0);
	--border: oklch(0.269 0 0);
	--input: oklch(0.269 0 0);
	--ring: oklch(0.439 0 0);
}

@custom-variant dark (&:is(:host(.dark) *));
@custom-variant light (&:is(:host(:not(.dark)) *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--text-xs: calc(var(--font-size) * 0.75);
	--text-sm: calc(var(--font-size) * 0.875);
	--text-base: calc(var(--font-size) * 1);
	--text-lg: calc(var(--font-size) * 1.125);
	--text-xl: calc(var(--font-size) * 1.25);
	--text-2xl: calc(var(--font-size) * 1.5);
	--text-3xl: calc(var(--font-size) * 1.875);
	--text-4xl: calc(var(--font-size) * 2.25);
	--text-5xl: calc(var(--font-size) * 3);
	--container-xs: 320px;
	--container-sm: 384px;
	--container-md: 448px;
	--container-lg: 512px;
	--container-xl: 576px;
	--container-2xl: 672px;
	--container-3xl: 768px;
	--container-4xl: 896px;
	--container-5xl: 1024px;
	--container-6xl: 1152px;
	--container-7xl: 1280px;
	--container-8xl: 1408px;
	--tw-translate-y: 0;
	--tw-translate-x: 0;

	--breakpoint-xxs: 20rem;
	--breakpoint-xs: 30rem;
}

:host {
	--widget-width: 248px;
	--player-height: 368px;
	
	@media (min-width: 640px) {
 		--widget-width: 286px;
		--player-height: 420px;
	}
}



@keyframes scale {
	0% { transform: scale(0); }
	100% { transform: scale(1); }
}

@keyframes move-left {
	0% { transform: translateX(-20%); opacity: 0; }
	100% { transform: translateX(0); opacity: 1; }
}

@keyframes move-right {
	0% { transform: translateX(20%); opacity: 0; }
	100% { transform: translateX(0); opacity: 1; }
}

@keyframes move-up {
	0% { transform: translateY(20%); opacity: 0; }
	100% { transform: translateY(0); opacity: 1; }
}

@keyframes move-down {
	0% { transform: translateY(-20%); opacity: 0; }
	100% { transform: translateY(0); opacity: 1; }
}

@utility bg-light {
	background-color: #fcfcfc;
}

@utility animate-scale {
	animation: scale 0.2s ease-in-out;
}

@utility animate-move-left {
	animation: move-left 0.2s ease-in-out;
}

@utility animate-move-right {
	animation: move-right 0.2s ease-in-out;
}

@utility animate-move-up {
	animation: move-up 0.2s ease-in-out;
}

@utility animate-move-down {
	animation: move-down 0.2s ease-in-out;
}

@layer base {
	* {
		@apply box-border border-border border-solid outline-ring/50 focus:outline-solid focus:outline-primary focus:outline-1 -outline-offset-1;
	}
	:host {
		@apply text-foreground border-border fill-foreground;
	}
}

:host {
	font-family: var(--font-sans) !important;
	
	::-webkit-scrollbar {
		@apply h-2.5 w-2.5;
	}

	::-webkit-scrollbar-track {
		@apply bg-transparent;
	}

	::-webkit-scrollbar-thumb {
		@apply rounded-full border-[1px] border-solid border-transparent bg-border bg-clip-padding;
	}
}
