[vw] [vw-access-button] {
  display: none;
  width: 70px;
  text-align: center;
  cursor: pointer;

  &.active {
    display: block;
  }
  
  img {
    width: 100%;
  }
  
  span {
    font-size: 13px;
    color: #004088;
  }
}
