[vw] {
  position: fixed;
  max-width: 70vw;
  right: 0;
  top: 50%;
  margin-top: -32vh;
  z-index: 1;
  display: none;
  font-family: Arial;
  color: #000;
  
  &.enabled {
    display: block;
  }
  
  &.active {
    margin-top: -285px;
  }
  
  &.maximize {
    top: 6vh;
    left: 6vh;
    right: 6vh;
    bottom: 6vh;
    max-width: initial;
    margin-top: 0;
  }
  
  &.left {
    left: 0;
    right: initial;
  }
}

[vp] {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: hidden;

  [vp-message-box] {
    position: absolute;
    z-index: 5;
  }

  [vp-info-screen] {
    z-index: 3;
  }

  [vp-controls] {
    position: absolute;
    bottom: 7px;
    max-width: 560px;
    z-index: 2;
  }

  [vp-settings] {
    
  }

  [vp-settings-btn] {
    z-index: 2;
  }

  [vp-dictionary] {
    z-index: 3;
  }
}

.vw-text:hover {
  background-color: rgba(255, 102, 0, 0.5);
  color: #000;
  cursor: pointer;
}

.vw-text-active {
  background-color: #7CFC00;
  color: #000;
}

#gameContainer {
  height: 100%;
}
