[vw] {
  position: fixed;
  max-width: 70vw;
  right: 0;
  top: 50%;
  margin-top: -32vh;
  z-index: 1;
  display: none;
  font-family: Arial;
  color: #000;
  line-height: 1.3;

  &.enabled {
    display: block;
  }
  
  &.active {
    margin-top: -285px;
  }
  
  &.maximize {
    top: 6vh;
    left: 6vh;
    right: 6vh;
    bottom: 6vh;
    max-width: initial;
    margin-top: 0;
  }
  
  &.left {
    left: 0;
    right: initial;
  }

}

[vp] {
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 300px;
  min-height: 450px;
  z-index: 1;
  overflow: hidden;
 

  [vp-message-box] {
    position: absolute;
    z-index: 5;
  }

  [vp-info-screen] {
    z-index: 3;
    #info-text{
      font-size: 1em !important;
    }
    #info-realizadores{
      font-size: 11px !important;
    }
  }

  [vp-controls] {
    // position: absolute;
    // max-width: 560px;
    // z-index: 2;
    // bottom: -12px;
    // left: 4px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1%;
    max-width: 900px;
    z-index: 2;
  }

  [vp-settings] {
    
  }

  [vp-settings-btn] {
    z-index: 2;
  }

  [vp-dictionary] {
    z-index: 8;
  }
}

[vw]{


  #gameContainer {
  
    position: relative !important;
    margin: 0 auto !important;
    top:26px;  
    // top: calc(50% - 40px);
    // left: calc(50% - 40px);
    min-width: calc(0.90 * 300px);
    min-height: calc(0.70 * 450px);
    // transform: translate(calc(-50% + 40px), calc(-50% + 40px));
    height: 70%;
    width: 90%;
    overflow: hidden;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  
  
  }
  

}

.vw-text:hover {
  background-color: rgba(255, 102, 0, 0.5);
  color: #000;
  cursor: pointer;
}

.vw-text-active {
  background-color: #7CFC00;
  color: #000;
}