[vw] {
  position: fixed;
  max-width: 70vw;
  right: 0;
  top: 50%;
  margin-top: -32vh;
  z-index: 1;
  display: none;
  font-family: Arial;
  color: #000;
  
  &.enabled {
    display: block;
  }
  
  &.active {
    margin-top: -285px;
  }
  
  &.maximize {
    top: 6vh;
    left: 6vh;
    right: 6vh;
    bottom: 6vh;
    max-width: initial;
    margin-top: 0;
  }
  
  &.left {
    left: 0;
    right: initial;
  }

}

[vp] {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: hidden;
 

  [vp-message-box] {
    position: absolute;
    z-index: 5;
  }

  [vp-info-screen] {
    z-index: 3;
    #info-text{
      font-size: 1.5vh !important;
    }
    #info-realizadores{
      font-size: 11px !important;
    }
  }

  [vp-controls] {
    position: absolute;
    max-width: 560px;
    z-index: 2;
    bottom: -12px;
    left: 4px;
  }

  [vp-settings] {
    
  }

  [vp-settings-btn] {
    z-index: 2;
  }

  [vp-dictionary] {
    z-index: 8;
  }
}

.vw-text:hover {
  background-color: rgba(255, 102, 0, 0.5);
  color: #000;
  cursor: pointer;
}

.vw-text-active {
  background-color: #7CFC00;
  color: #000;
}

#gameContainer {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
 
  height: 70%;
  width: 92%;
  border-radius: 10px;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); /* this fixes the overflow:hidden in Chrome/Opera */

}
